@model Homework06.Models.SendCard

<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="~/Content/styles.css" />

	<title>Invitation-page</title>
</head>

@{
	Layout = null;
}
@using (Html.BeginForm())
{
	<h1>Birthday Card Generator</h1>
	<h2> Birthday Card Sent </h2>
	<p>From: me</p>
	<p>To: to</p>
	<p>Message: Happy Birthday You</p>

	
}
